<form (ngSubmit)="login()" class="flex flex-col gap-5 h-screen justify-center items-center">
  <p class="font-bold text-xl mb-10">Login Page</p>

  <div class="relative text-gray-600">
    <label for="username" class="sr-only"></label>
    <input id="username" type="text" [(ngModel)]="credential.username" required name="username" placeholder="Username" class="bg-white h-10 px-5 pr-10 rounded-full border border-blue-700 text-sm focus:outline-none">
  </div>

  <div class="relative text-gray-600">
    <label for="password" class="sr-only"></label>
    <input id="password" type="password" [(ngModel)]="credential.password" required name="password" placeholder="Password" class="bg-white h-10 px-5 pr-10 rounded-full border border-blue-700 text-sm focus:outline-none">
  </div>

  <button type="submit" mat-raised-button color="primary" class="mat-rounded w-48 mb-10">Login</button>
</form>

<!--<p>username: Antonette, password: Antonette</p>-->
